{% include "head.html" %}
<!--{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<head>
</head -->

<style>
#PostText {
	min-width:200px;
	max-width:350px;
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
}



#PostBlock {
	background:rgba(255,255,255,0.85);
	padding:5px;
	margin: 5px;
	border-radius: 2.5px;
}



</style>


<title>The Bridge: Lemmatizer</title>
<body id="body" data-title="index" class = "home">
	{% include "navbar.html" %}
	{% include "about.html" %}

<div id="background" class = "custom-background img-responsive">
  <div class="page-wrap">
	<div style="
    padding-left: 15px;
    padding-right: 15px;">  
		<h1 id="PostBlock" style="display:inline-block;"> Format Lemmatized Text </h1>
			<br>
			<p id="PostBlock">Use this tool to format a lemmatized spreadsheet.Your lemmatization sheet <b>must</b> have 5 columns (A–E) with these headings: CHECK, TITLE, TEXT, LOCATION, SECTION. Data in TITLE and LOCATION will be used to create the input sheet. Additional data in Columns F and following will be ignored by the formatter.
			 To prove your <i>humanitas</i>, please answer the math question using Roman numerals.  </p>
			
			<form id="formatlemmatizedtext" style="display:inline-block;" method="post" action="" enctype="multipart/form-data">
      		{% csrf_token %}
      		<div id="PostBlock" style="text-align:center;">
      		{{ cheese.file }}
      		<p>Input {{ cheese.in_format }}</p>
      		<p>Output {{ cheese.out_format }}</p>
      		{{ cheese.question }}

      		<input type="submit" name="submit" value="Submit"> </div>
 		</form>
  	</div>


 </div>
</div>
</div></div></div> <!--- Close everything that should be closed but goodness knows is not. If you have some free time and good spirit you could try to find where these actually go -->
{% include "footer.html" %}
