{% include "head.html" %}
<!--{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<head>
</head -->

<style>
#PostText {
	min-width:200px;
	max-width:350px;
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
}



#PostBlock {
	background:rgba(255,255,255,0.85);
	padding:5px;
	margin: 5px;
	border-radius: 1.5px;
}



</style>


<title>The Bridge: Lemmatizer</title>
<body id="body" data-title="index" class = "home">
	{% include "navbar.html" %}
	{% include "about.html" %}

<div id="background" class = "custom-background img-responsive">
  <div class="page-wrap">
	<div style="
	text-align: left;
    padding-left: 15px;
    padding-right: 15px;">
		<h1 id="PostBlock" style="display:inline-block;"> Lemmatizer </h1>
			<br>
			<p id="PostBlock">
				<!--The lemmatizer is currently broken. If you need a text lemmatized, please contact Bret Mulligan
				<a href="mailto:bmulliga@haverford.edu"> bmulliga@haverford.edu </a> or click on the envelope on the bottom right of the screen.
				We are trying to fix it and it should be up by December 2018!-->
				<!--The Lemmatizer is mostly functional. If you need a text lemmatized and the Lemmatizer does not do the job, please contact Bret Mulligan
				<a href="mailto:bmulliga@haverford.edu"> bmulliga@haverford.edu </a> or click on the envelope on the bottom right of the screen.
				With this tool you can input a Greek or Latin text file. The lemmatizer will match the text with either the Bridge or Morpheus lemmata system and create a spreadsheet file in either CSV or Excel (xlsx) format. To prove your <i>humanitas</i>, please answer the math question using Roman numerals.</p> -->
				With <i>Bridge/Tools</i> you can create a lemmatization spreadsheet for a Latin or Greek text. <br>
				<font size="3"> You chose to lemmatize only those words whose forms match a single dictionary 
				lemma, leaving the rest for you to complete by hand (unambiguous lemmatization)—or allow the lemmatizer to guess at the lemmata for all words (ambiguous lemmatization). 
				You can select the format of the lemmata (morpheus or Bridge) and the format of the file to download (csv or Excel). 
				The lemmatization process will also produce a set of readability statistics for your text (word count, average word length, average sentence length, percent lemmatized). 
					With <i>BridgeTools</i> you can also format a lemmatization spreadsheet for input into <i>The Bridge</i>. </font>
				<br>
				Currently in development. Anticipated launch summer 2019. </p>
			<form id="post_text" style="display:inline-block;" method="post" action="Lemmatizer" enctype="multipart/form-data">
      		{% csrf_token %}
      		<div id="PostBlock" style="text-align:center;">

      		{{ form.file }}<br>
      		<p>Text Langugage: {{ form.language }}</p>	
      		<p>Output format: {{ form.out_format }}</p>
      		<p>Lemmata Format: {{ form.lem_format }}</p>
      		<p>Lemmatization Level: {{ form.lem_level }}</p>
      		<p>Question: {{ form.question }}</p>

      		<input type="submit" name="submit" value="Submit"> <br><p>To format a lemmatized text click <a href='/format'>here</a></div>
 		</form>
  	</div>


 </div>
</div>
</div></div></div> <!--- Close everything that should be closed but goodness knows is not. If you have some free time and good spirit you could try to find where these actually go -->
{% include "footer.html" %}
