{% include "head.html" %}
{% load staticfiles %}
<style>
#PostText {
	min-width:200px;
	max-width:350px;
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
}
#PostBlock {
	background:rgba(255,255,255,0.85);
	padding:5px;
	margin: 5px;
	border-radius: 2.5px;
}

</style>
<title>The Bridge: Oracle</title>
<body id="body" data-title="index" class = "home">
	{% include "navbar.html" %}
	{% include "about.html" %}

<div id="background" class = "custom-background img-responsive">
  <div class="page-wrap">
	<div style="
	text-align: left;
    padding-left: 15px;
    padding-right: 15px;">
		<p style="float: left;"><img src="static/images/imageedit_2_2312114313.png" height="100px" width="100px" border="3px"></p>
		<p id="PostBlock"> <i>BridgeOracle</i> will allow you to discover readable texts in <i>The Bridge Corpus</i> by 
revealing the authors, texts, and passages that have the highest percentage of familiar 
vocabulary. Select textbooks you’ve used, lists you’ve mastered, and texts that you’ve 
read. Then let <i>BridgeOracle</i> reveal your next text(s). <br>
Currently in development. Anticipated launch 2020. </p>
</div>
</div>
</div>
{% include "footer.html" %}
