{% include "head.html" %}
{% load staticfiles %}
{% csrf_token %}
<style type="text/css">
    .btn {
        background-color:#5aaf50;
        cursor:pointer;
        color:white;
        font-size:50px;
        font-family:Calibri;
        width:300px;
        height:100px;
      border-radius: 12px;
    }
	#PostBlock {
	padding:5px;
	margin: 5px;
	border-radius: 2.5px;
}
</style>
<title>The Bridge: Tools</title>
<body id="body" data-title="index" class = "home">
	{% include "navbar.html" %}
	{% include "about.html" %}
<div id="background" class = "custom-background img-responsive">
 <p id="PostBlock"> <a class="btn" role="button" href="/lemmatizer">Lemmatize a text</a>
	 <a class="btn" role="button" href="/format">Format a lemmatized text</a> </p>


  
<div class="page-wrap">
<!--{% debug %}-->
<div style="text-align:center;padding-top:30px;">
</div>

</div>
</div>

 

{% include "footer.html" %}
