{% include "head.html" %}
{% load staticfiles %}
{% csrf_token %}
<style type="text/css">
    .btn {
        background-color: #1E9E6B;      
	cursor:pointer;
        color:white;
        font-size:35px;
        font-family:Inherit;
        width:195px;
        height:105px;
        border-radius: 8px;
	border: 1px solid transparent;
	text-align: center;
        vertical-align: middle;
	touch-action: manipulation;
	overflow: visible;
	    
    }
	#PostBlock {
	padding:5px;
	margin: 5px;
	border-radius: 2.5px;
}
</style>
<title>The Bridge: Tools</title>
<body id="body" data-title="index" class = "home">
	
	{% include "navbar.html" %}
	{% include "about.html" %}
<div id="background" class = "custom-background img-responsive">
	<div class="page-wrap">
		<div style="text-align:center;padding-top:30px;">
<h1 style="font-size:55px; color:white; font-weight:700; font-family:Helvetica Neue;">SELECT A TOOL</h1>
 <p id="PostBlock"> <a class="btn" role="button" href="/lemmatizer">Lemmatize a text</a>
	 <a class="btn" role="button" href="/format">Format a lemmatized text</a> </p>


 
</div>

</div>
</div>

 

{% include "footer.html" %}
