{% include "head.html" %}
{% load staticfiles %}
{% csrf_token %}
<style type="text/css">
input.btn {
        background-color: #337ab7;      
	cursor:pointer;
        color:white;
        font-size:25px;
        font-family:Helvetica Neue;
        width:180px;
        height:105px;
        border-radius: 8px;
	border: 1px solid transparent;
	text-align: center;
        vertical-align: middle;
	touch-action: manipulation;
	overflow: visible;
	white-space: normal;
}
        input.btn:hover {
        background:#286090;
        color:white;
}
	#PostBlock {
	padding:5px;
	margin: 5px;
	border-radius: 2.5px;
		
}
	#description{
	font-size:10px;
}
	#Block{
	background:rgba(255,255,255,0.85);
	font-color:black;
	border-radius: 2.5px;
	font-size:15px;
	padding:5px;
}
p span { 
background:rgba(255,255,255,0.85);
font-color:black;
font-size:15px;
border:2.5px;
padding:5px;
}
span{
margin-right: 55px;
//margin-left: 40px;
}

</style>
<title>The Bridge: Tools</title>
<body id="body" data-title="index" class = "home">
	
	{% include "navbar.html" %}
	{% include "about.html" %}
<div id="background" class = "custom-background img-responsive">
	<div class="page-wrap">
		<div style="text-align:center;padding-top:30px;">
<h1 style="font-size:55px; color:white; font-weight:700; font-family:Helvetica Neue;">SELECT A TOOL</h1>
 <p id="PostBlock"> <input class="btn" type="button" value="LEMMATIZE" onclick="window.location.href='/lemmatize'" </> 
&nbsp;	<input class="btn" type="button" value="FORMAT" onclick="window.location.href='/format'" </>
<p style="margin-left:50px;"><span>Lemmatize a Text</span> <span>Format Lemmatized Sheet</span></p>
 
</div>

</div>
</div>

 

{% include "footer.html" %}
