<title>The Bridge: Customizable G.reek and Latin Vocabulary Lists</title>
<body class = "home blog custom-background img-responsive">
       <div class= "preloader" style= "display: none;">
	  <div class= "status" style="display: none;">
	  </div>
	</div>
<div class="home-header-wrap">
   <div class= "header-content-wrap:>
      <div class ="container">
<form id="giant_form" action="" method="POST" target="_self">
    {% csrf_token %}
    <div class="home-header-wrap">
        <div class="panel-group col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class=""header-content-wrap">
                <a id="tabOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style=" color :#131b15;">

                          <div class="intro-text">
                                Select a language
                          </div>

                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="buttons" pull-right>
                        <div class="button-holder">
                            <button name="language" type="button" id="greek" value="Greek" class="btn btn-xlarge btn-primary green-btn">Greek</button>
                            <button name="language" type="button" id="latin" value="Latin" class="btn btn-xlarge btn-primary red-btn">Latin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden">
                <a class="collapsed" id="tabTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="panel-title">
                                What Are You Reading?
                              </div>
                                <div class="panel-contents" value = "" id= "textlist_id" style="display: none; color: rgb(0, 0, 0); border: 1px solid black; overflow : hidden; ">
                                </div>

                        </div>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p id="resizetxt">
                            1. Start typing to see the lists, texts, & textbooks available.
                        </p>
                       <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">

                        <div class= "latinbooks" name = "textlist">
                            {% csrf_token %}
                            {{ latin_books_form.as_p }}
                            {{ latin_books_form.media }}
                        </div>
                        <div class= "greekbooks" name = "textlist">
                              {% csrf_token %}
                              {{ greek_books_form.as_p }}
                              {{ greek_books_form.media }}
                        </div>

                        <p id="resizetxt2" style= "text-align : left">
                            2. Once you have found your work, click <strong>Add Work</strong> (required). You may then select a section of your work. Repeat for as many works or sections as you wish.

                        </p>
                        <button id="choose_book" class = "btn-default add-work" type="button"
                        onclick="get_text_name(this.id)"> Add Work </button>

                        <hr>
                             <div id= "reading wrapper">

                             </div>





                         </div>
                          </div>
                </div>
            </div>

        <div class="panel panel-default hidden">
            <a class="collapsed" id="tabThree" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="row">
                        <div id="excludePanelTitle" class="panel-title">
                          Exclude or Match Words in Other Works? (optional) </div>

                    </div>
                </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p id="filtering_note">
                      1. Choose <strong>exclude</strong> to show words that only appear reading(s) you selected above but not in the other work(s) that you will select; or choose <strong>match</strong> to show words that only appear in all the works you select.

                    </p>

                    <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="include_or_exclude">
                        <div id="include_exclude_btn_group" class="btn-group" data-toggle="buttons">
                            <div class="btn btn-primary active" value="exclude">
                                <input type="radio" name="add_remove_selector" value="Remove" id="All" autocomplete="off" checked>Exclude
                            </div>
                            <div class="btn btn-primary" value="matching">
                                <input type="radio" name="add_remove_selector" value="Add" id="Selection" autocomplete="off">Match
                            </div>
                        </div>
                    </div>

                    <hr>
                        <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">

                         <div class= "latinbooks" name = "textlist">
                             {% csrf_token %}
                             {{ latin_books_form.as_p }}
                             {{ latin_books_form.media }}
                         </div>
                         <div class= "greekbooks" name = "textlist">
                               {% csrf_token %}
                               {{ greek_books_form.as_p }}
                               {{ greek_books_form.media }}
                         </div>
                         <p id="resizetxt2" style= "text-align : left">
	                          2.	Now add one or more works (or selections of one or more works), just as you did above. Be sure to <strong>Add Work</strong> for each work.

                         </p>
                         <button id="exclude" class = "btn-default add-work" type="button"
                         onclick="get_text_name(this.id)"> Add Work </button>

                          <hr>
                              <div id= "read_wrapper">

                              </div>

                          </div>
                           </div>
                           </div>
                 </div>
             </div>
              </div>

                    <div id="booklist" class="container-fluid">
                      <input type = 'hidden'
                      value = ""  name= "textlist" id="textlist_id2">
                      </input>
                      <input
                      type="hidden" value = ""  name= "readlist" id="readlist_id2">
                      </input>


                            <script>
                            //really these should be in main.js, but since they come from views.py they need to be in the template
                            var important_secret_stuff = {{ subsection_data|safe }};
                            var name_for_humans_to_name_for_computers = {{ name_for_humans_to_name_for_computers|safe }};
                            </script>
                          </div>
                        </div>
                    </div>
                    <div id="parentSubmitRow" class="row">
                        <div id="colSubmit" class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                            <button class="btn btn-lg btn-block hidden" type="submit" value="Submit" id="giant_form_submit">Create &nbsp<span class="glyphicon glyphicon-share-alt"></span></button>
                        </div>

                    </div>
                  </div>



    </form>
</body>
