<title>The Bridge: Customizable G.reek and Latin Vocabulary Lists</title>
<body class = "home blog custom-background img-responsive">
       <div class= "preloader" style= "display: none;">
	  <div class= "status" style="display: none;">
	  </div>
	</div>
<div class="home-header-wrap">
   <div class= "header-content-wrap:>
      <div class ="container">

<form id="giant_form" action="" method="POST" target="_self">
    {% csrf_token %}
    <div class="home-header-wrap">
        <div class="panel-group col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class=""header-content-wrap"> <!--Add two quotation marks before header-content-wrap, then rem-->
                <a id="tabOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <!--<div role="tab" id="headingOne">-->>
                          <div class="intro-text">
                                Select a language
                          </div>
                    <!--</div>-->
                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="buttons" pull-right>
                        <div class="button-holder">
                            <button name="language" type="button" id="greek" value="Greek" class="btn btn-xlarge btn-primary green-btn">Greek</button>
                            <button name="language" type="button" id="latin" value="Latin" class="btn btn-xlarge btn-primary red-btn">Latin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden">
                <a class="collapsed" id="tabTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="panel-title">
                                What are you reading?
                            </div>
                            <div class="panel-contents" id="testing_pane-contents">
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p id="resizetxt" data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Please choose one list, textbook, or text (required):
                        </p>
                       <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">
		                       <div class="button-holder type_of_txt_btn_group" role="group" data-toggle="buttons" aria-label="Select one of three buttons to filter our dropdown menu and only see 'Texts', 'Textbooks', and 'Lists'">
			      <!--  <button name="text" data-value="TE"  type="button" class="btn btn-primary active">Text</button>
                                <button name="textbook" data-value="TK" type="button" class="btn btn-primary">Textbook</button>
                                <button name="lists" data-value="LI" type="button" class="btn btn-primary">List</button>-->

                                <!-- ADD A GLYPHICON EXPLAINING THE BUTTON FUNCTION-->
			<!--Switching buttons: about to change value's and text to proper orders. CHeck how this affects Javascript.-->
                                <label id="first-active" class="btn btn-primary active" value="LI">
                                    <input name="list" type="radio">List
                                </label>
                                <label class="btn btn-primary" name="textbook" value="TK">
                                    <input name="textbook" type="radio">Textbook
                                </label>
                                <label class="btn btn-primary" name="text" value="TE">
                                    <input name="list" type="radio" value="list">Text
                                </label>
                            </div>
                        <!--where it was-->
                        <div id="dropDownDiv" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            <select id="latin_TE_DropDown" class="form-control" name="textlist" size="8" data-toggle="tooltip" data-placement="bottom">
                                <option value="" selected disabled>Select a text:</option>
                                {% for each in booklist_latin_TE %}
                                <option value = "{{ each }}" name="{{ each }}" class="latinbook"> {{ each }} </option>
                                {% endfor %}
                            </select>

                            <select id="latin_TK_DropDown" class="form-control" name="textlist" size="8" data-toggle="tooltip" data-placement="bottom">
                                <option value="" selected disabled>Select a text:</option>
                                {% for each in booklist_latin_TK %}
                                <option value = "{{ each }}" name="{{ each }}" class="latinbook"> {{ each }} </option>
                                {% endfor %}
                            </select>

                            <select id="latin_LI_DropDown" class="form-control" name="textlist" size="8" data-toggle="tooltip" data-placement="bottom">
                                <option value="" selected disabled>Select a text:</option>
                                {% for each in booklist_latin_LI %}
                                <option value = "{{ each }}" name="{{ each }}" class="latinbook"> {{ each }} </option>
                                {% endfor %}
                            </select>
                            <select id="greek_TE_DropDown" class="form-control" name="textlist" size="8" data-toggle="tooltip" data-placement="bottom">
                              <option value="" selected disabled>Select a text:</option>
                              {% for each in booklist_greek_TE %}
                              <option value = "{{ each }}" name = "{{ each }}" class="greekbook"> {{ each }} </option>
                              {% endfor %}
                            </select>

                            <select id="greek_TK_DropDown" class="form-control" name="textlist" size="8" data-toggle="tooltip" data-placement="bottom">
                              <option value="" selected disabled>Select a text:</option>
                              {% for each in booklist_greek_TK %}
                              <option value = "{{ each }}" name = "{{ each }}" class="greekbook"> {{ each }} </option>
                              {% endfor %}
                            </select>

                            <select id="greek_LI_DropDown" class="form-control" name="textlist" size="8" data-toggle="tooltip" data-placement="bottom">
                              <option value="" selected disabled>Select a text:</option>
                              {% for each in booklist_greek_LI %}
                              <option value = "{{ each }}" name = "{{ each }}" class="greekbook"> {{ each }} </option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="btn-group" data-toggle="buttons" id="btns_all_or_select">

                                <label class="btn btn-primary active" value="All">
                                    <input type="radio" name="formselector" value="All" id="All" checked>All
                                </label>
                                <label class="btn btn-primary" value="Selection">
                                    <input type="radio" name="formselector" value="Selection" id="Selection">Selection
                                </label>
                            </div>

                        <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">
                               <div id="text_selection" style="width: 74%; margin: 0 auto;  display: none;">
                                   <div class="input-group-container">
                                       <div class="input-group">
                                           <span class="input-group-addon" id="sizing-addon3">From</span>
                                           <input type="text" class="form-control" name="text_from" id="text_from" placeholder="ex: 1.2.30" aria-describedby="sizing-addon3">
                                       </div>
                                   </div>
                                   <div class="input-group-container">
                                       <div class="input-group">
                                           <span class="input-group-addon" id="sizing-addon3">To</span>
                                           <input type="text" class="form-control" name="text_to" id="text_to" aria-describedby="sizing-addon3">
                                       </div>
                                   </div>
                               </div>
                             </div>
                          </div>
                        <!--
                        <br />
                        <button type="button" id="core_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Frequency Range"
                            data-content='<ul><img id="core_selection_tip_img" src="/static/images/core_selection_tip.jpg">This selection would yield a list of the 100 most commonly used words.</ul>'
                            data-html="true" style="display:none"><span class="glyphicon glyphicon-question-sign"  style="padding-right: 5px"></span>Choosing a Frequency Range</button>

                        <button type="button" id="other_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Selection"
                            data-content='<ul><b>For works divided only into chapters, poems, or other sections:</b>
                                <br /><br />You can select a single unit...</br/>
                                <img id="selection_tip_1" src="/static/images/selection_tip_1.jpg">
                                <br /><br />Or a range of units...<br />
                                <img id="selection_tip_2" src="/static/images/selection_tip_2.jpg">
                                <br /><br /> <b>For works whose sections are subdivided:</b>
                                <br /><br />You can select a single sub-division...<br />
                                <img id="selection_tip_3" src="/static/images/selection_tip_3.jpg">
                                <br /><br /> Or a range within a section:<br/ >
                                <img id="selection_tip_4" src="/static/images/selection_tip_4.jpg">
                                <br /><br /> Or a range with the whole work:<br />
                                <img id="selection_tip_5" src="/static/images/selection_tip_5.jpg">
                                <br /><br />It is easy to indicate the start of a section or its end. Just omit the sub-divisions:<br />
                                <img id="selection_tip_6" src="/static/images/selection_tip_6.jpg"><br /><br />
                                <img id="selection_tip_7" src="/static/images/selection_tip_7.jpg"></ul>'
                            data-html="true" style="display: none"><span class="glyphicon glyphicon-question-sign" style="padding-right: 5px"></span>Choosing a Selection</button>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="panel panel-default hidden">
            <a class="collapsed" id="tabThree" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="row">
                        <div id="excludePanelTitle" class="panel-title">
                        Exclude or include words from one or more lists, textbooks, or texts (optional):
                        </div>
                        <div class="panel-contents">
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p id="filtering_note" data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know."><span class="glyphicon glyphicon-info-sign"></span>You can choose to filter all words in one or more texts or selections of one or more texts.
                    </p>
                    <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="include_or_exclude">
                        <div id="include_exclude_btn_group" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active" value="exclude">
                                <input type="radio" name="add_remove_selector" value="Remove" id="All" autocomplete="off" checked>Exclude
                            </label>
                            <label class="btn btn-primary" value="include">
                                <input type="radio" name="add_remove_selector" value="Add" id="Selection" autocomplete="off">Include
                            </label>
                        </div>
                    </div>
                 </div>


  <!--put class="row" on div id="booklist"-->
                    <div id="booklist" class="container-fluid">

		         <div class="book-type-row row" id="thumbLI"><h2>Lists</h2></div>
                         <div class="book-type-row row" id="thumbTK"><h2>Textbooks</h2></div>
                         <div class="book-type-row row" id="thumbTE"><h2>Texts</h2></div>
                            {% for each in booklist_latin %}
                            <div class="col-xs-6 col-md-3 latinbookthumb booktype{{ each.1 }}">
                                <div class="thumbnail" id="{{ each.0 }}">
                                    <button class='btn btn-default btn-block' type='button' name="book" value="{{ each.0 }}" data-toggle="tooltip" data-placement="bottom" title="{{ each.0 }}">
                                        <div class="text_name">
                                            {{ each.0 }}
                                        </div>
                                    </button>

		                                    <div class="range-select-toggle text-center">
                		                        <div class="btn-group" data-toggle="buttons">
                                		            <label class="btn btn-primary active" value="All">
                                        		        <input type="radio" checked>All
                                       			     </label>
                                            <label class="btn btn-primary" value="Selection">
                                                <input type="radio">Selection
                                            </label>
                                        </div>

                                        <div class="range_select_box" id= '{{ each.0 }} range_select_box'>
                                          <button class="add_form_field" id= '{{ each.0 }} add_button'
                                          onclick = "save_button_ID(this.id)" >Add New Field  </button>
                                            <div class="input-group-container">
                                                <div class="input-group">
                                                  <input type="text" class="form-control" name="no name, just a placeholder" placeholder="[]" aria-describedby="sizing-addon3" style='display: none'> <!-- something weird was happening where the first one of these was always named {{ each.0 }} to, which is the correct name for the end, but destroys the beggining-->

                                                  <input type="text" class="form-control" name="{{ each.0 }} from" placeholder="[start]" aria-describedby="sizing-addon3">
                                                  <span class="input-group-addon" id="sizing-addon3">to</span>

                                                  <input type="text" class="form-control" name="{{ each.0 }} to" placeholder="[end]" aria-describedby="sizing-addon3">

                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                            {% for each in booklist_greek %}
                            <div class="col-xs-6 col-md-3 greekbookthumb booktype{{ each.1 }}" value="{{ each.0 }}">
                                <div class="thumbnail" id="{{ each.0 }}">
                                    <button class='btn btn-default btn-block' type='button' name="book" value="{{ each.0 }}" data-toggle="tooltip" data-placement="bottom" title="{{ each.0 }}">
                                        <div>
                                            {{ each.0 }}
                                        </div>
                                    </button>
                                    <div class="range-select-toggle text-center">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active" value="All">
                                                <input type="radio" checked>All
                                            </label>
                                            <label class="btn btn-primary" value="Selection">
                                                <input type="radio">Selection
                                            </label>
                                        </div>
                                        <div class="range_select_box" id="{{ each.0 }}">
                                            <div class="input-group-container">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="{{ each.0 }}" placeholder="[start]" aria-describedby="sizing-addon3">
                                                    <span class="input-group-addon" id="sizing-addon3">to</span>
                                                    <input type="text" class="form-control" name="{{ each.0 }}" placeholder="[end]" aria-describedby="sizing-addon3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <script>
                            var calls1 = 0;
                            var calls2 =0;
                            var new_name = '';
                            var wrapper = '';
                            var add_button = '';


                            function save_button_ID(clicked_id)
                            {
                              calls1++;
                              new_name = (clicked_id);
                              console.log(new_name, "new_name right after it was set")
                              new_name = new_name.slice(0, -11);
                              wrapper = '';
                              console.log(new_name, "new_name right after it was set")

                              //saves the name of the button so that we add to the correct range_select_box and so that the data is submitted.
                            $(document).ready(function(e) {

                                          console.log(''+new_name+' range_select_box')
                                          wrapper_id =''+new_name+' range_select_box'
                                          console.log($(document.getElementById(wrapper_id)), "about to be wrapper")
                                          var max_fields = 10;
                                          wrapper  = $(document.getElementById(wrapper_id));
                                          add_button = $(document.getElementById(''+new_name+' add_button'));
                                          console.log(add_button)
                                          var x = 1;
                                          console.log(wrapper, "wrapper")


                                      $(add_button).click(function(e) {
                                          e.preventDefault();
                                          calls2++;
                                          console.log(calls2 === calls1);
                                          if (calls2 === calls1){
                                          if(x < max_fields){
                                              x++; // ++ just means change by 1.
                                              console.log(wrapper, 'wrapper we are about to add to')
                                             $(wrapper).append( '<div class = "input-group-container"> <div class="input-group"> <input type="text" class="form-control" name= "'+new_name+' from"  placeholder="[start]" aria-describedby="sizing-addon3"><span class="input-group-addon" id="sizing-addon3">to</span> <input type="text" class="form-control" name= "'+new_name+' to" placeholder="[end]" aria-describedby="sizing-addon3"></div><a href="#" class="delete">Delete</a></div>')
                            //add input boxes.
                            console.log('did the visuals for adding a new input box')
                                                            }
                                          else
                                              {
                                               alert('You have reached the current limit')
                                              }
                                        }
                                        else
                                        {
                                        calls1 = 0;
                                        calls2 = 0;
                                        }
                                      });

                                    $(wrapper).on("click",".delete", function(e){
                                              e.preventDefault(); $(this).parent('div').remove(); x--;
                                    })

                            });
                          };

                            </script>
                          </div> <!-- this is the one that closes booklist -->
                        </div>
                    </div>
                </div><!--HERE-->
            </div>
        </div>
    </div><!--panel hidden-->
</div>


                            <script>

                            document.write("<div id='temp' style='display: none'></div>");
                            $("#temp").parent().find(".range_select_box").each(function(){
                                    var inpts = $(this).find(":input");

                                        $(inpts[0]).attr("name",$(inpts[0]).attr("name")+" from");
                                        $(inpts[1]).attr("name",$(inpts[1]).attr("name")+" to");

				                                });


                            </script>
<div id="parentSubmitRow" class="row">
    <div id="colSubmit" class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <button class="btn btn-lg btn-block hidden" type="submit" value="Submit" id="giant_form_submit">Submit &nbsp<span class="glyphicon glyphicon-share-alt"></span></button>
    </div>
</div>
    </form>
</body>
