<title>The Bridge: Customizable G.reek and Latin Vocabulary Lists</title>
<body class = "home blog custom-background img-responsive">
       <div class= "preloader" style= "display: none;">
	  <div class= "status" style="display: none;">
	  </div>
	</div>
<div class="home-header-wrap">
   <div class= "header-content-wrap:>
      <div class ="container">
<form id="giant_form" action="" method="POST" target="_self">
    {% csrf_token %}
    <div class="home-header-wrap">
        <div class="panel-group col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class=""header-content-wrap">
                <a id="tabOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style=" color :#131b15;">

                          <div class="intro-text">
                                Select a language
                          </div>

                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="buttons" pull-right>
                        <div class="button-holder">
                            <button name="language" type="button" id="greek" value="Greek" class="btn btn-xlarge btn-primary green-btn">Greek</button>
                            <button name="language" type="button" id="latin" value="Latin" class="btn btn-xlarge btn-primary red-btn">Latin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden">
                <a class="collapsed" id="tabTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="panel-title">
                                What are you reading?
                            </div>
                            <div class="panel-contents" id="testing_pane-contents">
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p id="resizetxt" data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Please choose one list, textbook, or text (required):
                        </p>
                       <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">

                        <div class= "latinbooks" name = "textlist">
                            {% csrf_token %}
                            {{ latin_books_form.as_p }}
                            {{ latin_books_form.media }}
                        </div>
                        <div class= "greekbooks" name = "textlist">
                              {% csrf_token %}
                              {{ greek_books_form.as_p }}
                              {{ greek_books_form.media }}
                        </div>
                             <div id= "reading wrapper">

                             </div>
                             <button id="choose_book" class = "add_button" type="button"
                             onclick="get_text_name(this.id)"> Add this text </button>




                         </div>
                          </div>
                </div>
            </div>

        <div class="panel panel-default hidden">
            <a class="collapsed" id="tabThree" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="row">
                        <div id="excludePanelTitle" class="panel-title">
                        Exclude or include words from one or more lists, textbooks, or texts (optional):
                        </div>
                        <div class="panel-contents">
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p id="filtering_note" data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know."><span class="glyphicon glyphicon-info-sign"></span>You can choose to filter all words in one or more texts or selections of one or more texts.
                    </p>
                    <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="include_or_exclude">
                        <div id="include_exclude_btn_group" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active" value="exclude">
                                <input type="radio" name="add_remove_selector" value="Remove" id="All" autocomplete="off" checked>Exclude
                            </label>
                            <label class="btn btn-primary" value="include">
                                <input type="radio" name="add_remove_selector" value="Add" id="Selection" autocomplete="off">Include
                            </label>
                        </div>
                    </div>


                        <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">

                         <div class= "latinbooks" name = "textlist">
                             {% csrf_token %}
                             {{ latin_books_form.as_p }}
                             {{ latin_books_form.media }}
                         </div>
                         <div class= "greekbooks" name = "textlist">
                               {% csrf_token %}
                               {{ greek_books_form.as_p }}
                               {{ greek_books_form.media }}
                         </div>
                              <div id= "read_wrapper">

                              </div>
                              <button id="exclude" class = "add_button" type="button"
                              onclick="get_text_name(this.id)"> Add this text </button>
                          </div>
                           </div>
                           </div>
                 </div>
             </div>
              </div>

                    <div id="booklist" class="container-fluid">
                      <input
                      type="hidden" value = ""  name= "readlist" id="readlist_id">
                      </input>
                      <input
                      type="hidden" value = ""  name= "textlist" id="textlist_id">
                      </input>



                            <script>
                            var calls1 = 0;
                            var calls2 =0;
                            var new_name = '';
                            var wrapper = '';
                            var add_button = '';
                            var text_name = ''
                            var wrapper0 = ""
                            var readlist =[];
                            var textlist =[];
                            var last_add = '';


                            function get_text_name(clicked_id){
                            if (clicked_id == "choose_book") {
                              wrapper0 = document.getElementById("reading wrapper")
                              console.log("adding a book to reading ID =", clicked_id)
                              text_name = document.getElementById('select2-id_books4-container').title;
                              console.log(text_name, "(local)");
                              textlist.push(text_name + "$");
                              console.log(textlist)
                              document.getElementById('textlist_id').value = textlist
                              last_add = "textlist"
                            }
                            else {
                              wrapper0 = document.getElementById("read_wrapper")
                              console.log("adding a book to read", clicked_id)
                              text_name = document.getElementById("select2-id_books32-container").title;
                              readlist.push(text_name + "$");
                              document.getElementById('readlist_id').value = readlist
                              last_add = "readlist"
                            }


                            console.log("I HAVE BEEN CLICKED!!!");

                            $(wrapper0).append('<div id="holder for '+text_name+'"> <div class="thumbnail" id="'+text_name+'"> <button class="btn btn-default btn-block" type="button" name="book" value="'+text_name+'" data-toggle="tooltip" data-placement="bottom" title=" "> <div class="'+text_name+'"> '+text_name+'</div></button>');

                            $(wrapper0).append('<p id = "description for '+text_name+'">Optional: select a section of this text. Leave blank for all the words in the text.</p><div <div class="input-group-container" id="'+text_name+' input-group-container"> <button type=button class="add_form_field" id= "'+text_name+' add_button" onclick = "save_button_ID(this.id)" >Add Another Section</button> <div class="input-group"><input type="text" class="form-control" name="'+text_name+' from" placeholder="[start]" aria-describedby="sizing-addon3"><span class="input-group-addon" id="sizing-addon3">to</span><input type="text" class="form-control" name="'+text_name+' to" placeholder="[end]" aria-describedby="sizing-addon3"></div></div></div></div></div> <button type=button  id="delete '+text_name+'" class="delete" onclick = "delete_add(this.id)"> undo last addtext  </button> </div> <br> </div>');
                            clicked_id = ""
                            wrapper0 = ""
                          };
                          function delete_add(clicked){
                          clicked= clicked.slice(7)
                                console.log(clicked);
                              $("div[id*='"+clicked+"']").remove();
                              $("p[id*='"+clicked+"']").remove();
                              $("button[id*='"+clicked+"']").remove();
                                if (last_add == "readlist"){
                                  readlist = readlist[-1];
                                  document.getElementById('readlist_id').value = readlist
                                  if (readlist){

                                    textlist= textlist;
                                  }else {
                                    console.log("deleted readlist, setting it to empty instead");
                                    readlist = [];
                                  }
                                }else if (last_add == "textlist") {
                                  textlist = textlist[-1];
                                  document.getElementById('textlist_id').value = textlist
                                  console.log(textlist);
                                  if (textlist){

                                    textlist= textlist;
                                  }else {
                                    console.log("deleted textlist, setting it to empty instead");
                                    textlist = [];
                                  }

                                }else {
                                  true
                                }
                              }

                            function save_button_ID(clicked_id)
                            {
                              calls1++;
                              new_name = (clicked_id);
                              console.log(new_name, "new_name right after it was set")
                              new_name = new_name.slice(0, -11);
                              wrapper = '';
                              console.log(new_name, "new_name right after it was set")
                              //saves the name of the button so that we add to the correct range_select_box and so that the data is submitted.
                            $(document).ready(function(e) {
                                          console.log(''+new_name+' input-group-container')
                                          wrapper_id =''+new_name+' input-group-container'
                                          console.log($(document.getElementById(wrapper_id)), "about to be wrapper")
                                          var max_fields = 10;
                                          wrapper  = $(document.getElementById(wrapper_id));
                                          add_button = $(document.getElementById(''+new_name+' add_button'));
                                          console.log(add_button)
                                          var x = 1;
                                          console.log(wrapper, "wrapper")
                                      $(add_button).click(function(e) {
                                          e.preventDefault();
                                          calls2++;
                                          console.log(calls2 === calls1);
                                          if (calls2 === calls1){
                                          if(x < max_fields){
                                              x++; // ++ just means change by 1.
                                              console.log(wrapper, 'wrapper we are about to add to')
                                             $(wrapper).append('<div class="input-group"> <input type="text" class="form-control" name= "'+new_name+' from"  placeholder="[start]" aria-describedby="sizing-addon3"><span class="input-group-addon" id="sizing-addon3">to</span> <input type="text" class="form-control" name= "'+new_name+' to" placeholder="[end]" aria-describedby="sizing-addon3">  <a href="#" class="delete">Delete this section</a> </div>')
                            //add input boxes.
                            console.log('did the visuals for adding a new input box')
                                                            }
                                          else
                                              {
                                               alert('You have reached the current limit')
                                              }
                                        }
                                        else
                                        {
                                          console.log(calls1, calls2)
                                        calls1 = 0;
                                        calls2 = 0;
                                        }
                                      });
                                    $(wrapper).on("click",".delete", function(e){
                                              e.preventDefault(); $(this).parent('div').remove();
                                              x--;

                                    })
                            });
                          };
                            </script>
                          </div>
                        </div>
                    </div>


<div id="parentSubmitRow" class="row">
    <div id="colSubmit" class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <button class="btn btn-lg btn-block hidden" type="submit" value="Submit" id="giant_form_submit">Submit &nbsp<span class="glyphicon glyphicon-share-alt"></span></button>
    </div>
</div>
</div>
    </form>
</body>
