html {
 background-color: #07325C;
}

body {
  background-color: #00FF00;
  /*background-color: #F1F1F1;*/
  margin: 0px;
  overflow: auto;
  padding: 0px;
}

.masthead{
    height: 168px;
    background-color:#07325C;
    //background-image: url("/static/images/BridgeLogo.png");
    background-repeat:no-repeat;
}

.masthead img {
   padding: 20px;
   padding-bottom: 0px;
}

@media print {
body * {
  display:none;
        }

body .printable {
  display:inline;
        }
      }

.container {
  width: 100%;
}

.navbar-nav>li{
  float:none;
}

.navbar {
  background-color: #30688D;
  border: none;
}

div.navbar.navbar-default::before {
  display: none;
}

.navbar-nav li a {
  color: white !important;
}

.navbar-header {
  height: 0px;
}

#nav_stripe {
  background-color: #6393A9;
  height: 8px;
  width:100%;
}
#banner {
  height: 8%;
  width: 100%;
  background-color: #07325C;
  font-family: Georgia, serif;
  text-align: center;
  vertical-align: middle;
  margin-top: 0%;
  margin-bottom: 0%;
}

#banner img {
  padding: 30px;
  margin-bottom: 0%;
}

#navbar{
  width:100%;
  margin-top:0%;
  margin-bottom:30px;
  background-color: #6393A9;
  height: 80px;
  cursor: pointer;
}
.kwicks {
 width:100%;
 position:relative;
 height: 60px;
 margin:0px;
 padding:0px;
 margin-bottom:10px;
 }
 .kwicks > a {
 position:relative;
 display:inline-block;
 white-space:nowrap;
 color:white;
 padding-top:20px;
 padding-bottom:20px;
 text-align:center;
 /* overridden by kwicks but good for when JavaScript is disabled */
 width:20%;
 margin:0px;
 float: center;
 border-right:1px solid #134D00;
 background-color: #30688D;
 /*30688D*/
 font-family: arial;
 font-variant: small-caps;
 font-size:larger;
 }

.kwicks > a:hover {
background-color: #457798;
}


.overlay-about{
    background:rgba(0,0,0,0.6);
    position:fixed;
    overflow: auto;
    height: auto;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

#about_content {
   //overflow-y:scroll;
   //height: 600px;
   font-size: 14px;
}

#about_content a {
   font-size: 14px;
}

#about_content p {
   font-size: 14px;
}

#about_content th {
   margin-bottom:2px;
   text-align: center;
}

#about_content table {
   width: 85%;
   margin: auto;
}

#about_content table td {
   padding-left: 10px;
   padding-right: 10px;
   margin: 0px;
}

#about_content table h3 {
   text-align: center;
   margin: 0px;
}

#tutorial_video {
   margin: 0 auto;
}

.box-about{
    position:fixed;
    display: inline-block;
    width: 1000px;
    height: 700px;
    top:-200px;
    left:25%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #6393A9;
    /* For Firefox users*/
    border-radius: 20px 20px 20px 20px;
    /*For other browsers */
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

.box-about p {
    padding: 20px;
}

a.boxclose-about{
    float:right;
    width:35px;
    height:35px;
    border-radius:50%;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    padding: 1%;
    background-color: #F1F1F1;
    text-align: center;
}

.box-about h1{
    border-bottom: 1px solid #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color: #6393A9;
    color: #FFFFFF;
    font-family: Georgia, serif;
    /* For Firefox users */
    border-radius:20px 20px 0px 0px;
    /* For other browsers */
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}

/* Textlist */

#textlist {
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #F8F8F8;
}

#all_or_selection {
   text-align: center;
}

#core_tip {
   padding: 10px;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   border-color: #E69C53;
   background-color: #E69C53;
   text-align: left;
}

.popover {
   min-width: 350px;
   height: auto;
   padding: 5px;
   margin-left: 200px !important;
}

#core_selection_tip_img {
   width: 300px;
}

.popover-content ul {
   padding: 0;
}

#other_tip {
   padding: 10px;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   border-color: #E69C53;
   background-color: #E69C53;
}

.text_selection_box {
    text-align: center;
}

.text_selection_box h1 {
    font-family: Georgia, serif;
    color: #07325C;
}

.popover{
    display: block;
}

/* Booklist */

.panel {
   padding: 0px;
}

.exclude_selection_box {
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    overflow: auto;
    height: auto;
}

.exclude_selection_box h1 {
    font-family: Georgia, serif;
    color: #07325C;
}

.book_container {
    border: 1px solid #ccc;
    height: 150px;
    overflow-y: scroll;
    padding-left: 2%;
    text-align: left;
    background-color: #f8f8f8;
}

.left{
   margin-left: 0px !important;
   margin-left: -200px !important;
}

#booklist_notes {
   margin-top: 20px;
   padding-bottom: 5px;
}

#booklist_note_button {
   background-color: #E69C53;
   border-color: #E69C53;
   margin: 5px;
   margin-bottom: 15px;
}

#checkbox_inputs {
    float:right;
    margin: auto;
}

#giant_form {
   margin-top: 50px;
}

/* Submit Button on Textlist Page */
#giant_form_submit {
    width: 130px;
    height:40px;
    background-color: #20466C;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-family: arial narrow;
    padding-bottom: 10px;
}

.alert {
    margin-left: 10px;
    margin-right: 10px;
}

#big_wrap {
   width: 100%;
   height: auto;
}

/* fixes sidebar to fit in generated pages */
#big_wrap .row {
  margin-right: 0;
  margin-left: 0;
}
#big_wrap .row .col-lg-4.col-lg-push-8 {
  left: 60%;
}


/* Generated Words Table */
/*
.table-hover {
   max-width: 800px;
   height: auto;
   overflow: auto;
   margin-left: 5%;
   margin-right: 0%;
}

.table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}

@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}
*/

#export_panel {
   width: 400px;
}

#words_generated::-webkit-scrollbar {
  display: none;
}

.hidden {
   display: none;
}

/* Definitions Filter */
.container1 {

}

.container1 h2 {
   text-align: center;
   font-family: Georgia, serif;
}

/* Parts of Speech Filter*/
.container2 {

}

.container2 h2 {
    text-align: center;
    font-family: Georgia, Serif;
}

.container2_greek {

}

.container2_greek h2 {
    text-align: center;
    font-family: Georgia, Serif;
}


#adj_decl_box {
   margin-left: 50px;
}

#noun_decl_box {
   margin-left: 50px;
}

#verb_conj_box {
   margin-left: 50px;
}

/* Special Words Filter */
.container3 {

}

.container3 h2 {
   text-align: center;
   font-family: Georgia, Serif;
}

.container3_greek {
}

.container3_greek h2 {
   text-align: center;
   font-family: Georgia, Serif;
}

/* Contains the filters */
#filters_panel {
}

#filters_panel_heading {
}

#filters_panel h1 {
    font-size: 200%;
    font-family: Georgia, serif;
    color: #07325C;
}

/* Back to Top Button */
#back_to_top {
   display: block;
   margin: 0 auto;
   margin-top: 40px;
   color: #428bca;
}

/* Greek or Latin Buttons */

.panel {
   padding-left: 0px;
   padding-right: 0px;
}

.btn-xlarge {
    padding: 30px 50px;
    height: 103px;
    width: 195px;
    font-size: 35px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#welcome_blurb h3 {
   font-family: Georgia, serif;
   color:#07325C;
   text-align: center;
}

#welcome_blurb p {
   text-align: justify;
}

#select_a_language {
   margin-top: 2%;
   margin-bottom:40px;
   font-family: Georgia, serif;
}

#latin {
    background-color: #457798;
    margin: 10px;
}

#greek {
   background-color: #457798;
   margin: 10px;
}

.ex {
    text-align: center;
    padding: 30px;
    background: #FFFFFF;
    padding-bottom: 50px;
}

/* Sticky footer */
* {
  margin: 0;
}
html, body {
}

.page-wrap {
  min-height: 0%;
  /* equal to footer height */
  margin-bottom: 100px;
  height: auto;
  overflow: auto;
  padding-top: 40px;
}

.page-wrap::-webkit-scrollbar {
  display: none;
}

.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 70px;
  width: 100%;
  margin: auto;
}
.site-footer {
  margin-top: 100px;
  background: #C5D3DC;
}

#DCC-logo {
  margin-top: 5px;
  height: 60px;
}

#LASLA-logo {
  margin-top: 5px;
  height: 60px;
}

#TriCoDH-logo {
  margin-top: 5px;
  height: 60px;
}

#haverfordlogo img {
  //display: block;
  width: 100px;
  //text-align: center;
  margin-top: 10px;
}

#copyright {
  display: block;
  margin:auto;
}

#email {
  //float: right;
  font-size: 35px;
  color: #CC9900;
  //margin-right: 200px;
  margin-top: 10px;
  height: 46px;
  width: 46px;
  cursor: pointer;
}

#twitter_link {
  //float: right;
  font-size: 35px;
  color: #CC9900;
  margin-right: 5px;
  margin-top: 10px;
  height: 46px;
  width: 46px;
  cursor: pointer;
}

#facebook_link {
  //float: right;
  font-size: 35px;
  color: #CC9900;
  //margin-right: 5px;
  margin-top: 10px;
  height: 46px;
  width: 46px;
  cursor: pointer;
}
