<div class="overlay-about"  style="display:none;">
 
<div class="box-about">
 <a class="boxclose-about"><button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></a>
 <h1>About</h1>

	<style>
h4 {color:white;}
</style>
<body>
<div id="about_content">

<body>
<p align="right"><em>Customizable Latin and Greek Vocabulary Lists</em></p>
<p><strong>The Bridge</strong> enables students and instructors to generate customized vocabulary lists from its database of Greek and Latin textbooks and texts. A list might include all the vocabulary from a core list, an ancient text, or a textbook. But users can focus on a selection of a list or work and also customize their lists to take into account textbooks that they have used, core lists they have mastered, and texts they have already read. These lists can then be filtered to focus on one or more parts of speech, among other options, and then printed or downloaded in a variety of formats.</p>
<p>The Bridge currently includes vocabulary from following works:</p>
<table width="39%" border="0" cellpadding="4">
  <tr>
    <th width="31%" scope="col">&nbsp;</th>
    <th width="69%" bgcolor="#5D94A8" scope="col"><p style="color:black">Greek</p></th>
  </tr>
  <tr>
    <th bgcolor="#5D94A8" scope="row"><p style="color:black">Core Lists</p></th>
    <td valign="top"><blockquote>
      <p><a href="http://dcc.dickinson.edu/greek-core-list" target="_new">DCC Greek Core Vocabulary</a></p>
      <p>Herodotus, <em>Histories Book 1</em> (&gt; 10 appearences)</p>
    </blockquote></td>
  </tr>
  <tr>
    <th bgcolor="#5D94A8" scope="row"><p style="color:black">Ancient Texts</p></th>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <th bgcolor="#5D94A8" scope="row"><p style="color:black">Textbooks</p></th>
    <td valign="top"><blockquote>
      <p><em>Alpha to Omega </em>(Groton)</p>
      <p><em>Athenaze </em>(Balme and Lawall)</p>
      <p><em>Greek: an Intensive Course</em> (Hansen and Quinn) </p>
      <p><em>Introduction to Ancient Greek</em> (Luschnig)</p>
      <p> <em>Introduction to Attic Greek</em> (Mastronarde)</p>
      <p> <em>Learn to Read Greek</em> (Keller and Russell) </p>
      <p><em>Reading Greek</em> (JACT)</p>
    </blockquote></td>
  </tr>
</table>
<table width="39%" border="0" cellpadding="4">
  <tr>
    <th width="31%" scope="col">&nbsp;</th>
    <th width="69%" bgcolor="#5D94A8" scope="col"><p style="color:black">Latin</p></th>
  </tr>
  <tr>
    <th bgcolor="#5D94A8" scope="row"><p style="color:black">Core Lists</p></th>
    <td valign="top"><blockquote><a href="http://dcc.dickinson.edu/latin-vocabulary-list" target="_new">DCC Latin Core Vocabulary</a></blockquote></td>
  </tr>
  <tr>
    <th bgcolor="#5D94A8" scope="row"><p style="color:black">Ancient Texts</p></th>
    <td valign="top"><blockquote>
      <p>Nepos, <em>Life of Hannibal</em></p>
      <p>Ovid, <em>Amores Book 1</em></p>
      <p>Vergil, <em>Aeneid</em></p>
      <p>&nbsp;</p>
    </blockquote></td>
  </tr>
  <tr>
    <th bgcolor="#5D94A8" scope="row"><p style="color:black">Textbooks</p></th>
    <td valign="top"><blockquote>
      <p><em>Classical Latin</em> (McKeown) </p>
      <p><em>Disce!</em> (Kitchell and Sienkewicz) </p>
      <p><em>Introduction to Latin </em>(Shlemerdine) </p>
      <p><em>Jenney's First Year Latin</em></p>
      <p><em>Latin: Intensive Course</em> (Moreland and Fleischer) </p>
      <p><em>Latin for the New Millenium</em>, Vol. 1 &amp; 2 (Tunberg and Minkova) </p>
      <p><em>Learn to Read Latin </em>(Keller and Russell) </p>
      <p><em>Wheelock's Latin</em> (LaFleur) </p>
      <p><em>Wiley's Real Latin</em> (Maltby and Belcher)</p>
    </blockquote></td>
  </tr>
</table>
<p>&nbsp;</p>
<p><strong>Would you like to see a list, textbook, or text added to The Bridge?</strong> To make a suggestion or to inquire about contributing to the project, please contact Bret Mulligan (bmulliga@haverford.ed).</p>
<p>The Bridge was developed  by Julie Ta (Haverford '16) and Blair Rush (HC '16) in the summer of 2014. Additional administrative, technical, and logistical support was provided by Laurie Allen (Coordinator for Digital Scholarship and Services), Michael Zarafonetis (Digital Scholarship Librarian), Margaret Schaus (Lead Research and Instruction Librarian), Adrienne Lucas (University of Delaware), Jennifer Rajchel (Assistant Director, Tri-Co Digital Humanities), and Archana Kaku (Tri-Co Digital Humanities Program Coordinator, Bryn Mawr College). Initial data for The Bridge have been compiled by Florencia Foxley (HC '13), Emma Mongoven ('14), Vanessa Felso (Bryn Mawr College '15), and Carman Romano (HC '16). The Project Director is Bret Mulligan, Associate Professor of Classics at Haverford College.</p>
<p>Data for some ancient texts were generously provided by  the <a href="http://www.cipl.ulg.ac.be/Lasla/index.html">Laboratoire d'Analyse Statistique des Langues Anciennes</a> at the Université de Liège. The development of The Bridge was made possible by the  financial support of Haverford College and a Mellon  Digital Humanities Grant. This work and its byproducts are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>
<p>&nbsp;</p>


</div>
</body>
</div>
</div>
