<body>
<div class="modal contact-modal fade bs-example-modal-lg" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
         <h1>blah blah</h1>

<iframe src="https://docs.google.com/document/d/1fvIZk8G4IXU7EIn2tlkWXS_Tc1FAIVgI7f7DGc_OGB0/edit" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    </div>
   </div>
</div>
</body>	
