<!DOCTYPE html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel"stylesheet" type="text/css" href="{{STATIC_URL}}table.css">
  <script src="{{STATIC_URL}}swatches.js"></script>
  <link rel="stylesheet" type=text/css href="{{STATIC_URL}}swatches.css">
  <script src="{{STATIC_URL}}csrf_cookie.js"></script>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
  <script src="{{STATIC_URL}}spin.js"> </script>
  <script src="{{STATIC_URL}}main.js"> </script>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}icon_style.css">
  <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>
  <meta charset="utf-8">
  <!-- The following allows for the site to be more responsive on mobile screens -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
