{% include "head.html" %}
<!--{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<head>

</head -->
<html>
<title>The Bridge: Customizable Greek and Latin Vocabulary Lists</title>
   <body class = "home blog custom-background img-responsive">
	<div class= "preloader" style= "display: none;">
		<div class= "status" style="display: none;">
		</div>
	</div>
	{% include "header.html" %}

<div class="home-header-wrap">
	<div class= "header-content-wrap:>
		<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>
		<h1 class="intro-text">Select a Language</h1>
			<div class="buttons" pull-right>
<a href="book_select/Latin" class="btn btn-primary custom-button red-btn">Latin</a>
<a href="book_select/Greek" class="btn btn-primary custom-button green-btn">Greek</a>
			</div>
		</div>

<br>
<br>
<br>
<br>
<br>
<br>
	</div>
</div>

</body>

{% include "footer.html" %} 
</html>
