{% include "head.html" %}
<!--{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<head>

</head -->
<title>The Bridge: Customizable Greek and Latin Vocabulary Lists</title>
<body>
	{% include "navbar.html" %}
	{% include "about.html" %}

	<div class="page-wrap">
<div style="min-height: 76px;" id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">

		<div class="container">

			<div class="navbar-header responsive-logo">

				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">

				<span class="sr-only">Toggle navigation</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
</button>

				<a href="http://iris.haverford.edu/bridge/" class="navbar-brand"><img src="http://iris.haverford.edu/bridge/files/2015/10/Bridge-text.png" alt="A Development Blog for &quot;The Bridge&quot;"></a>
			</div>

			<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" id="site-navigation">
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
				<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list"><li class="page_item page-item-222"><a href="http://iris.haverford.edu/bridge/about/">About</a></li>
<li class="page_item page-item-53"><a href="http://iris.haverford.edu/bridge/details-about-texts/">Details about Texts</a></li>
<li class="page_item page-item-23"><a href="http://iris.haverford.edu/bridge/log/">Developer’s Log</a></li>
<li class="page_item page-item-10"><a href="http://iris.haverford.edu/bridge/known-issue/">Known Issues &amp; Requested Features</a></li>
</ul>			</nav>

		</div>

	</div>



 <!-- <style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('http://iris.haverford.edu/bridge/files/2015/10/Pont_du_Gard_BLS-11.jpg'); background-repeat: no-repeat; background-position: top center; background-attachment: scroll; }
</style> -->


<section id= "main-content" class= "clearfix">
	<article id= "mainpage" class= "section-wrapper clearfix" data-custom-background-img src= "http://iris.haverford.edu/bridge/files/2015/10/Pont_du_Gard_BLS-11.jpg" alt="Pont du Gard">
	<div class="content-wrapper clearfix">
		<div class="col-xs-10 col-xs-offset-1  col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<div class="header-content-wrap">
			<h1 class="intro-text">Select a Language</h1>
				<div class="buttons" pull-right><a href="http://bridge.haverford.edu/latin_book_select/" class="btn btn-primary custom-button red-btn">Latin</a><a href="http://bridge.haverford.edu/greek_book_select/" class="btn btn-primary custom-button green-btn">Greek</a>
				</div>
			</div>
		</div>
	</div>
	</article>
</section>
</div>

{% include "footer.html" %}
</body>
