{% include "head.html" %}
<!--{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<head>
</head>-->
<title>The Bridge: Customizable Greek and Latin Vocabulary Lists</title>
<body>
	{% include "navbar.html" %}
	{% include "about.html" %}

	<div class="page-wrap">
		<div id="welcome_blurb" class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<div class="panel-heading"><h3>Welcome to the vocabulary Bridge.</h3></div>
			<div class="panel-body"><p>With this site, you can create customized vocabulary lists for core lists, ancient texts, and textbooks. 
			You can focus on a selection of a text and also customize your lists to exclude familiar vocabulary from textbooks that you have used,
			 core lists you have mastered, and texts you have already read. These lists can then be filtered to focus on one or more parts of speech,
			 among other options, and then printed or downloaded in a variety of formats.</p></div>
		</div>

		<div class="container">
			<div class="row">
				<div class="ex panel panel-default col-xs-10 col-xs-offset-1  col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<h1 id="select_a_language">
						Please select a language:
					</h1>
					<a role="button" name="language" id="greek" value="Greek" href="/book_select/Greek/" class="btn btn-xlarge btn-primary">Greek</a>
					<a role="button" name="language" id="latin" value="Latin" href="/book_select/Latin/" class="btn btn-xlarge btn-primary">Latin</a>
				</div>
			</div>
		</div>
	</div>
</body>
{% include "footer.html" %}
