<div class="masthead text-center">
 <a href="/"><img class="col-xs-10 col-xs-offset-1 col-sm-8 col-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" src="/static/images/BridgeLogo.png"></a>
</div>

<div id="navbar">
    <ul id=kwicks-list class="kwicks kwicks-horizontal">
        <a class="kwick1" href="/" target="_self"><span class="glyphicon glyphicon-home" style="padding-right: 5px"></span>Home</a>
        <a data-toggle="modal" data-target=".about-modal" target="_blank"><span class="glyphicon glyphicon-info-sign"  style="padding-right: 5px"></span>About</a>
        <a class="kwick3" href="http://iris.haverford.edu/bridge" target="_blank"><span class="glyphicon glyphicon-question-sign"  style="padding-right: 5px"></span>Help</a>
    </ul>
</div>

<!--
<div class="container">
<div class="row">
<div class="navbar navbar-default col-lg-12" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav nav-justified navbar-nav">
              <li id="home"><a href="/">Home</a></li>
              <li id="about"><a style="cursor: pointer" data-toggle="modal" data-target=".about-modal">About</a></li>
              <li id="help"><a href="http://iris.haverford.edu/bridge">Help</a></li>
            </ul>
          </div>
        </div>
	<div id="nav_stripe">
	</div>
</div>
</div>
</div>
-->
