{% include 'head.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<title>The Bridge: Customizable Greek and Latin Vocabulary Lists</title>
<body class = "home blog custom-background img-responsive">
       <div class= "preloader" style= "display: none;">
	  <div class= "status" style="display: none;">
	  </div>
	</div>
<div class="home-header-wrap">
   <div class= "header-content-wrap:>
      <div class ="container">

<form id="giant_form" action="" method="POST" target="_self">
    {% csrf_token %}
    <div class="home-header-wrap">
        <div class="panel-group col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="accordion" role="tablist" aria-multiselectable="true">
            <div class=""header-content-wrap">
                <a id="tabOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <!--<div role="tab" id="headingOne">-->
                        <div>
                            <div class="intro-text">
                                Select a language
                            </div>
                        </div>
                    <!--</div>-->
                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="buttons" pull-right>
                        <div class="button-holder">
                            <button name="language" type="button" id="greek" value="Greek" class="btn btn-xlarge btn-primary green-btn">Greek</button>
                            <button name="language" type="button" id="latin" value="Latin" class="btn btn-xlarge btn-primary red-btn">Latin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden">
                <a class="collapsed" id="tabTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="panel-title">
                                What are you studying?
                            </div>
                            <div class="panel-contents">
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p id="resizetxt" data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Please choose one text (required): 
                        </p>
                       <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">
                            <div class="button-holder type_of_txt_btn_group" data-toggle="buttons">
                                <button name="text" type="button" id="txtbutton_id" class="btn btn-primary">Text</button>
                                <button name="textbook" type="button" class="btn btn-primary">Textbook</button>
                                <button name="lists" type="button" class="btn btn-primary">List</button>
                            </div>
                        <div id="text_selection" style="display: none;">
                            <div class="input-group-container">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3">From</span>
                                    <input type="text" class="form-control" name="text_from" id="text_from" placeholder="ex: 1.2.30" aria-describedby="sizing-addon3">
                                </div> 
                            </div>
                            <div class="input-group-container">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3">To</span>
                                    <input type="text" class="form-control" name="text_to" id="text_to" aria-describedby="sizing-addon3">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            <select class="form-control" name="textlist" size="4" id="textlist" select-one required data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text." >
                                <option value="" selected disabled>Select a text:</option>
                                {% for each in booklist_latin %}
                                <option value="{{ each }}" class="latinbook" onclick="showTip()"> {{ each }} </option>
                                {% endfor %}
                                {% for each in booklist_greek %}
                                <option value="{{ each }}" class="greekbook" onclick="showTip()"> {{ each }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active" value="All">
                                    <input type="radio" name="formselector" value="All" id="All" checked>All
                                </label>
                                <label class="btn btn-primary" value="Selection">
                                    <input type="radio" name="formselector" value="Selection" id="Selection">Selection
                                </label>
                            </div>
                        </div>
                        <!--
                        <br />
                        <button type="button" id="core_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Frequency Range"
                            data-content='<ul><img id="core_selection_tip_img" src="/static/images/core_selection_tip.jpg">This selection would yield a list of the 100 most commonly used words.</ul>'
                            data-html="true" style="display:none"><span class="glyphicon glyphicon-question-sign"  style="padding-right: 5px"></span>Choosing a Frequency Range</button>

                        <button type="button" id="other_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Selection" 
                            data-content='<ul><b>For works divided only into chapters, poems, or other sections:</b>
                                <br /><br />You can select a single unit...</br/>
                                <img id="selection_tip_1" src="/static/images/selection_tip_1.jpg">
                                <br /><br />Or a range of units...<br />
                                <img id="selection_tip_2" src="/static/images/selection_tip_2.jpg">
                                <br /><br /> <b>For works whose sections are subdivided:</b>
                                <br /><br />You can select a single sub-division...<br />
                                <img id="selection_tip_3" src="/static/images/selection_tip_3.jpg">
                                <br /><br /> Or a range within a section:<br/ >
                                <img id="selection_tip_4" src="/static/images/selection_tip_4.jpg">
                                <br /><br /> Or a range with the whole work:<br />
                                <img id="selection_tip_5" src="/static/images/selection_tip_5.jpg">
                                <br /><br />It is easy to indicate the start of a section or its end. Just omit the sub-divisions:<br />
                                <img id="selection_tip_6" src="/static/images/selection_tip_6.jpg"><br /><br />
                                <img id="selection_tip_7" src="/static/images/selection_tip_7.jpg"></ul>'
                            data-html="true" style="display: none"><span class="glyphicon glyphicon-question-sign" style="padding-right: 5px"></span>Choosing a Selection</button>
                    </div>
                    -->
                </div>
            </div>
        </div>

        <div class="panel panel-default hidden">
            <a class="collapsed" id="tabThree" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="row">
                        <div class="panel-title">
                        Exclude or include words from one or more text types:
                        </div>
                        <div class="panel-contents">
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know."><span class="glyphicon glyphicon-info-sign"></span>You can choose to filter all words in one or more texts or selections of one or more texts.
                    </p>
                    <div class="toggle-container col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="include_or_exclude">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="add_remove_selector" value="Remove" id="All" autocomplete="off" checked>Exclude
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="add_remove_selector" value="Add" id="Selection" autocomplete="off">Include
                            </label>
                        </div>
                    </div>
                        <div class="row" id="booklist" >

                         <div id="booklist_container">
                    <!--<div class="row" id="booklist" data-toggle="tooltip" data-placement="bottom">

                        <div id="booklist_container" title="Choose a text/texts that you have read to remove words you already know.">-->
                            {% for each in booklist_latin %}
                            <div class="col-xs-6 col-md-3 latinbookthumb">
                                <div class="thumbnail" id="{{ each }}">
                                    <button class='btn btn-default btn-block' type='button' name="book" value="{{ each }}" data-toggle="tooltip" data-placement="bottom" title="{{ each }}">
                                        <div class="text_name">
                                            {{ each }}
                                        </div>
                                    </button>
                                    <div class="range-select-toggle text-center">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active" value="All">
                                                <input type="radio" checked>All
                                            </label>
                                            <label class="btn btn-primary" value="Selection">
                                                <input type="radio">Selection
                                            </label>
                                        </div>
                                        <div class="range_select_box">
                                            <div class="input-group-container">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="{{ each }}" placeholder="[start]" aria-describedby="sizing-addon3">
                                                    <span class="input-group-addon" id="sizing-addon3">to</span>
                                                    <input type="text" class="form-control" name="{{ each }}" placeholder="[end]" aria-describedby="sizing-addon3">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for each in booklist_greek %}
                            <div class="col-xs-6 col-md-3 greekbookthumb">
                                <div class="thumbnail" id="{{ each }}">
                                    <button class='btn btn-default btn-block' type='button' name="book" value="{{ each }}" data-toggle="tooltip" data-placement="bottom" title="{{ each }}" id="greek_list_mobile_check">
                                    <script>

                                    /****************************************************
                                    /* Script for what I want to happen when someone touches an element
                                     * on a mobile device. Right now, my plan is to try to mimic the
                                     * title attribute's behavior for mobile devices, triggering it
                                     * when one touches the element. But I'm having trouble.
                                     * https://stackoverflow.com/questions/12539006/tooltips-for-mobile-browsers
                                     * That's the link.
                                     ******************************************************/
                                        var theButton = document.GetElementById("greek_list_mobile_check")
                                        theButton.addEventListener("touchstart", handlerFunction, false);
                                        function handlerFunction(event) {
                                            //Executed upon the start of the touch of a button on a mobile device.
                                            //So someone's touched the button on a mobile device. Alright.
                                            //Now I want to make it display the text's full name.
                                            //And then I want that text to go away when someone is done touching.

                                            //Q: Are there any builtin functions that can do this?
                                            //Making a text box.
                                        }
                                        //function detectMobileDevice() { 
                                            /***********************************************/
                                            /* Inputs: None */
                                            /* Outputs: thinking about it */
                                            /* This function detects a mobile device */
                                            /***********************************************/
                                          /*  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Mobile|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
                                                console.log("mobile device detected, changing mobile device functionality");
                                                return true;
                                            }
                                            else {
                                                console.log("mobile device not detected");
                                                return false;
                                            }
                                        }

                                        var onSelectChange = function mainfunction() {
                                            if (detectMobileDevice()) {*/
                                               //If the user is using a mobile device.

                                            //}
                                            //else {
                                                //If the user is not using a mobile device
                                                /*return;
                                            }

                                        } */
                                    </script>
   
                                        <div> 
                                            {{ each }}
                                        </div>
                                    </button>
                                    <div class="range-select-toggle text-center">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active" value="All">
                                                <input type="radio" checked>All
                                            </label>
                                            <label class="btn btn-primary" value="Selection">
                                                <input type="radio">Selection
                                            </label>
                                        </div>
                                        <div class="range_select_box">
                                            <div class="input-group-container">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="{{ each }}" placeholder="[start]" aria-describedby="sizing-addon3">
                                                    <span class="input-group-addon" id="sizing-addon3">to</span>
                                                    <input type="text" class="form-control" name="{{ each }}" placeholder="[end]" aria-describedby="sizing-addon3">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <script>
                                document.write("<div id='temp' style='display: none'></div>");
                                $("#temp").parent().find(".range_select_box").each(function(){
                                    var inpts = $(this).find(":input");
                                    $(inpts[0]).attr("name",$(inpts[0]).attr("name")+" from");
                                    $(inpts[1]).attr("name",$(inpts[1]).attr("name")+" to");
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <button class="btn btn-lg btn-block hidden" type="submit" value="Submit" id="giant_form_submit">Submit &nbsp<span class="glyphicon glyphicon-share-alt"></span></button>
    </div>
</div>
    </form>
