{% include 'head.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<title>The Bridge: Customizable Greek and Latin Vocabulary Lists</title>
<body>
    {% include "navbar.html" %}
    {% include 'about.html' %}
<!--LA removed class="pagewrap" Need to fix footer if we keep it this way 8/14/2014 -->
<div class="container">
     {% if language == "Greek" %}
	<form id="giant_form" action="/words_page_redirect/Greek/" method="POST" target="_self">
    {% else %} 
	<form id="giant_form" action="/words_page_redirect/Latin/" method="POST" target="_self">
    {% endif %}
	{% csrf_token %}
	<div class="text_selection_box panel panel-default col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
	  <div class="panel-body">
	    <h1> What are you reading? </h1>
	    <p data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text."> 
		<span class="glyphicon glyphicon-info-sign"></span>
		 Please choose one text (required): 
	    </p>
	    <br />
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	    <select class="form-control" name="textlist" size="4" id="textlist" select-one required data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text." >
	    <option value="" selected disabled>Select a text:</option>
	    {% for each in booklist %}
	        <option value="{{ each }}" onclick="show_tip()"> {{ each }} </option>
	    {% endfor %}
	    </select>
	</div>
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">
	    	<input value="All" type="radio" name="formselector" checked ="checked" id="All" onclick="displayForm2(this)"><label id="all_label">All</label></input>     
            	<input value="Selection" type="radio" name="formselector" id="Selection" onclick="displayForm2(this)"><label id="selection_label">Selection</label></input>
	    </div>
	    <div id="text_selection" style="visibility:hidden">
		<br />
		<button type="button" id="core_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Frequency Range"
		data-content='<ul><img id="core_selection_tip_img" src="/static/images/core_selection_tip.jpg">This selection would yield a list of the 100 most commonly used words.</ul>'
		data-html="true" style="display:none"><span class="glyphicon glyphicon-question-sign"  style="padding-right: 5px"></span>Choosing a Frequency Range</button>
		
		<button type="button" id="other_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Selection" 
		data-content='<ul><b>For works divided only into chapters, poems, or other sections:</b>
		<br /><br />You can select a single unit...</br/>
		<img id="selection_tip_1" src="/static/images/selection_tip_1.jpg">
		<br /><br />Or a range of units...<br />
		<img id="selection_tip_2" src="/static/images/selection_tip_2.jpg">
		<br /><br /> <b>For works whose sections are subdivided:</b>
		<br /><br />You can select a single sub-division...<br />
		<img id="selection_tip_3" src="/static/images/selection_tip_3.jpg">
		<br /><br /> Or a range within a section:<br/ >
		<img id="selection_tip_4" src="/static/images/selection_tip_4.jpg">
		<br /><br /> Or a range with the whole work:<br />
		<img id="selection_tip_5" src="/static/images/selection_tip_5.jpg">
		<br /><br />It is easy to indicate the start of a section or its end. Just omit the sub-divisions:<br />
		<img id="selection_tip_6" src="/static/images/selection_tip_6.jpg"><br /><br />
		<img id="selection_tip_7" src="/static/images/selection_tip_7.jpg"></ul>'
		data-html="true" style="display: none"><span class="glyphicon glyphicon-question-sign" style="padding-right: 5px"></span>Choosing a Selection</button>
                <label>From:<input type="text" class="form-control" name="text_from" id="text_from" placeholder="ex: 1.2.30" /></label>
		<label>To:<input type="text" class="form-control" name="text_to" id="text_to" /></label>
	    </div>
	</div>
	</div>

	<div class="exclude_selection_box panel panel-default col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
	  <div class="panel-body">
	    <h1> What have you read? </h1> 
	    <p data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know."><span class="glyphicon glyphicon-info-sign"></span> Choose one or more texts to remove words from your vocabulary list (optional):<br />
	    	<input value="Remove" type="radio" name="add_remove_selector" checked ="checked" id="All"><label id="all_label">Remove</label></input>     
            	<input value="Add" type="radio" name="add_remove_selector" id="Selection"><label id="selection_label">Add</label></input>
		<br />Please enter ranges after choosing all of your texts.</p>
	    <br />
	    <div class="book_container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="booklist" data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know.">
		{% for each in booklist %}
		
		<input type="checkbox" name="book" id="{{ each }}" value="{{ each }}" onclick="show_booklist_notes()" /> {{ each }}<br /> 
     		{% endfor %}
	    	
		</div>
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="booklist_notes" style="display:none">
		<p>Note: Leave fields below blank to indicate that you have read all of the chosen text(s).</p>
		<button type="button" id="booklist_note_button" class="btn btn-sm btn-info" data-toggle="popover" data-placement="left" data-container="body" title="How to Choose a Selection"
                data-content='<ul><b>For works divided only into chapters, poems, or other sections:</b>
                <br /><br />You can select a single unit...</br/>
                <img id="selection_tip_1" src="/static/images/selection_tip_1.jpg">
                <br /><br />Or a range of units...<br />
                <img id="selection_tip_2" src="/static/images/selection_tip_2.jpg">
                <br /><br /> <b>For works whose sections are subdivided:</b>
                <br /><br />You can select a single sub-division...<br />
                <img id="selection_tip_3" src="/static/images/selection_tip_3.jpg">
                <br /><br /> Or a range within a section:<br/ >
                <img id="selection_tip_4" src="/static/images/selection_tip_4.jpg">
                <br /><br /> Or a range with the whole work:<br />
                <img id="selection_tip_5" src="/static/images/selection_tip_5.jpg">
                <br /><br />It is easy to indicate the start of a section or its end. Just omit the sub-divisions:<br />
                <img id="selection_tip_6" src="/static/images/selection_tip_6.jpg"><br /><br />
                <img id="selection_tip_7" src="/static/images/selection_tip_7.jpg">
		<br /><br /><b> For a selection of the CORE:</b>
		<br />This selection would yield a list of the 100 most commonly used words...<br />
		<img id="core_selection_tip_img" src="/static/images/core_selection_tip.jpg">	
		</ul>'	
                data-html="true"><span class="glyphicon glyphicon-question-sign" style="padding-right: 5px"></span>Choosing a Selection</button>
 
	    </div>
	    <br />
	    <div id="checkbox_inputs"> 
	    </div>
	</div>
       </div>
     </div>

		<button class="btn btn-lg" type="submit" value="Submit" id="giant_form_submit">Submit &nbsp<span class="glyphicon glyphicon-share-alt"></span></button>
    </form>
</div>
</body>
{% include "footer.html" %}
</html>

