<form id="giant_form" action="" method="POST" target="_self">
    {% csrf_token %}
    <div class="panel-group col-xs-10 col-xs-offset-1  col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        Select a Language 
                    </h4>
                </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <button name="language" type="button" id="greek" value="Greek" class="btn btn-xlarge btn-primary">Greek</button>
                    <button name="language" type="button" id="latin" value="Latin" class="btn btn-xlarge btn-primary">Latin</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <a class="collapsed" id="sourcetextaccordion" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        What Are You Studying?
                        <p data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text."> 
                        </h4>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h1> What are you studying? </h1>
                        <p data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Please choose one text (required): 
                        </p>
                        <br />
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            <select class="form-control" name="textlist" size="4" id="textlist" select-one required data-toggle="tooltip" data-placement="bottom" title="Choose a text that you are currently reading to generate words you will need to know for that text." >
                                <option value="" selected disabled>Select a text:</option>
                                {% for each in booklist_latin %}
                                <option value="{{ each }}" class="latinbook" onclick="showTip()"> {{ each }} </option>
                                {% endfor %}
                                {% for each in booklist_greek %}
                                <option value="{{ each }}" class="greekbook" onclick="showTip()"> {{ each }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="all_or_selection">
                            <input value="All" type="radio" name="formselector" checked ="checked" id="All" onclick="displayForm2(this)"><label id="all_label">All</label></input>
                            <input value="Selection" type="radio" name="formselector" id="Selection" onclick="displayForm2(this)"><label id="selection_label">Selection</label></input>
                        </div>
                        <div id="text_selection" style="visibility:hidden">
                            <br />
                            <button type="button" id="core_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Frequency Range"
                                data-content='<ul><img id="core_selection_tip_img" src="/static/images/core_selection_tip.jpg">This selection would yield a list of the 100 most commonly used words.</ul>'
                                data-html="true" style="display:none"><span class="glyphicon glyphicon-question-sign"  style="padding-right: 5px"></span>Choosing a Frequency Range</button>

                            <button type="button" id="other_tip" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" data-container="body" title="How to Choose a Selection" 
                                data-content='<ul><b>For works divided only into chapters, poems, or other sections:</b>
                                    <br /><br />You can select a single unit...</br/>
                                    <img id="selection_tip_1" src="/static/images/selection_tip_1.jpg">
                                    <br /><br />Or a range of units...<br />
                                    <img id="selection_tip_2" src="/static/images/selection_tip_2.jpg">
                                    <br /><br /> <b>For works whose sections are subdivided:</b>
                                    <br /><br />You can select a single sub-division...<br />
                                    <img id="selection_tip_3" src="/static/images/selection_tip_3.jpg">
                                    <br /><br /> Or a range within a section:<br/ >
                                    <img id="selection_tip_4" src="/static/images/selection_tip_4.jpg">
                                    <br /><br /> Or a range with the whole work:<br />
                                    <img id="selection_tip_5" src="/static/images/selection_tip_5.jpg">
                                    <br /><br />It is easy to indicate the start of a section or its end. Just omit the sub-divisions:<br />
                                    <img id="selection_tip_6" src="/static/images/selection_tip_6.jpg"><br /><br />
                                    <img id="selection_tip_7" src="/static/images/selection_tip_7.jpg"></ul>'
                                data-html="true" style="display: none"><span class="glyphicon glyphicon-question-sign" style="padding-right: 5px"></span>Choosing a Selection</button>
                            <label>From:<input type="text" class="form-control" name="text_from" id="text_from" placeholder="ex: 1.2.30" /></label>
                            <label>To:<input type="text" class="form-control" name="text_to" id="text_to" /></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <a class="collapsed" id="readtextaccordion" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            What Have You Studied?
                        </h4>
                    </div>
                </a>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h1> What have you studied? </h1> 
                        <p data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know."><span class="glyphicon glyphicon-info-sign"></span> Choose one or more texts to filter your results (optional):
                            <br />Please enter ranges after choosing all of your texts.
                            <div id="remove_add_container" class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                                <input value="Remove" type="radio" name="add_remove_selector" checked ="checked" id="All">&nbsp Remove words that are also in the following texts</input>     
                                <br />
                                <input value="Add" type="radio" name="add_remove_selector" id="Selection">&nbsp Keep only words that are also in the following texts</input>
                            </div>
                        </p>

                        <div class="row" id="booklist" data-toggle="tooltip" data-placement="bottom" title="Choose a text/texts that you have read to remove words you already know.">
                            {% for each in booklist_latin %}
                            <div class="col-xs-6 col-md-3 latinbookthumb">
                                <div class="thumbnail" id="{{ each }}">
                                    <button class='btn btn-default' type='button' name="book" value="{{ each }}" >
                                        <div> 
                                            {{ each }}
                                        </div>
                                    </button>
                                    <div class="range_select_box">
                                        <p><em>text range:</em></p>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon3">From</span>
                                            <input type="text" class="form-control" name="{{ each }}" placeholder="[start]" aria-describedby="sizing-addon3">
                                        </div> 
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon3">To</span>
                                            <input type="text" class="form-control" name="{{ each }}" placeholder="[end]" aria-describedby="sizing-addon3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for each in booklist_greek %}
                            <div class="col-xs-6 col-md-3 greekbookthumb">
                                <div class="thumbnail" id="{{ each }}">
                                    <button class='btn btn-default' type='button' name="book" value="{{ each }}" >
                                        <div> 
                                            {{ each }}
                                        </div>
                                    </button>
                                    <div class="range_select_box">
                                        <p><em>text range:</em></p>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon3">From</span>
                                            <input type="text" class="form-control" name="{{ each }}" placeholder="[start]" aria-describedby="sizing-addon3">
                                        </div> 
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon3">To</span>
                                            <input type="text" class="form-control" name="{{ each }}" placeholder="[end]" aria-describedby="sizing-addon3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <script>
                                document.write("<div id='temp' style='display: none'></div>");
                                $("#temp").parent().find(".range_select_box").each(function(){
                                    var inpts = $(this).find(":input");
                                    $(inpts[0]).attr("name",$(inpts[0]).attr("name")+" from");
                                    $(inpts[1]).attr("name",$(inpts[1]).attr("name")+" to");
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-lg" type="submit" value="Submit" id="giant_form_submit" style="position: absolute">Submit &nbsp<span class="glyphicon glyphicon-share-alt"></span></button>
    </form>
